header {
    background-color: var(--secondary-color-100);

}

.logo {
    width: 30%;
}

.logo img {
    width: 15%;
    padding: 1%;
}

.nav-menu {
    width: 70%;
}

.nav-options {}

.nav-options a {
    color: var(--neutral-color);
    text-decoration: none;
    font-family: var(--libre-font);
    font-style: italic;
    text-transform: uppercase;
    font-size: 16PX;
    margin: 2%;
    padding: 1%;
}

.nav-options a:hover {
    border-bottom: solid 3px var(--neutral-color);
    border-top: solid 3px var(--neutral-color);
    color: var(--primary-color);
}